.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 2%; }

.input {
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-right: 2%; }

.input:focus {
  outline: none; }

.search__btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background: #cecaca;
  box-shadow: 2px 2px 2px 1px grey; }

.search__btn:hover {
  box-shadow: 1px 1px 1px 1px grey; }

.search__btn:active {
  box-shadow: 1px 1px 1px 0px grey;
  outline: none;
  border-style: none; }

.search__btn:focus {
  outline: none; }

.artist__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; }

.track-section {
  width: 80%;
  margin: 4% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.track-container {
  position: relative;
  width: 250px;
  margin-bottom: 4%;
  box-shadow: 1px 1px 10px 1px grey; }

.track__img {
  display: block;
  width: 100%;
  object-fit: contain;
  box-sizing: border-box; }

.track__name {
  display: block;
  position: absolute;
  bottom: 10px;
  margin: 0;
  background: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2% 1%; }

.track__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  background: black;
  border-radius: 25px;
  position: absolute;
  top: 100px;
  right: 117px;
  transform: translate(50%);
  width: 50px;
  height: 50px;
  color: white;
  margin: 0;
  box-sizing: border-box; }

.track--icon--modifier {
  cursor: default; }

.app {
  text-align: center; }

